/* 
    Document   : layout
    Created on : Feb 21, 2011, 7:09:32 AM
    Author     : Julio Toirac <jtoirac@gmail.com>
    Description:
        Fichero de css de las inscripciones de atletas.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	background-color: #73d0d2;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

a, a:visited {
	color: #FD7A23;
}

label {
	cursor: pointer;
	font-size: 10px;
}

#todo {
	width: 716px;
	margin: 0 auto;
}

#todo1 {
	padding: 20px;
	background-color: #ffffff;
	float: left;
}

#todo1 div {
	float: left
}

#div1, #div2, #div3, #div4 {
	margin: 10px 0;
	width: 100%;
}

.intern {
	background-color: #416694;
/*	background-color: #ed1c24;*/
	-moz-border-radius: 6px;
	webkit-border-radius: 6px;
	border-radius: 6px;
    padding: 5px 13px;
    width: 695px;
}

.datGr{
	display: none;
}

#div1 .intern .divid {
	width: 340px;
}

.daGrp{
	padding: 5px 0;
	clear: both;
}

.kirolak{
	display: block;
	float: left;
}
#kirolak1{
	width: 140px;
}
#kirolak2{
	width: 200px;
	display: none;
}
.div5{
	margin: 10px 0;
}
.nota{
	font-size: 10px;
}

.divid{
	width: 665px;
}
.obs{
	width: 685px;
	height: 63px;
	margin-top: 17px;
}

.eq{
	margin-bottom: 15px;
}

#equipDat{
	display: none;
}

.nom{
	width: 250px;
}

.dir{
	width:415px;
}

.cp{
	width: 80px;
}
.avis{
	font-size: 10px;
    font-weight: bold;
}

h4 {
	color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#bilb{
	font-size: 12px;
	font-weight: bold;
}

.intro, .oblig {
	color: #333333;
    font-size: 10px;
}

.oblig {
	font-style: italic;
	display: block;
	text-align: right;
	width: 100%;
	float: left;
}

.intForm {
	font-size: 10px;
    padding: 20px 0;
    width: 652px;
}

.intForm hr {
	display: block;
    float: left;
    margin: 23px 0;
    width: 100%;
}

.largo {
	width: 690px;
	text-align: center;
}

.ultimo {
	text-align: center;
	margin-top: 20px;
}

.ultimo input {
	text-transform: uppercase;
	color: #FD7A23;
	border: 1px solid #FD7A23;
	background-color: #323232;
	cursor: pointer;
}

#espera {
	position: absolute;
	width: 48px;
	height: 48px;
	background-color: #ffffff;
	text-align: center;
	-moz-border-radius: 6px 6px;
	webkit-border-radius: 6;
	border-radius: 6;
}



