[Desktop Entry]
Encoding=UTF-8
Name=Enlace a  90 veces yo 
Type=Link
URL=http://localhost/mabelpobletstudio/web/app_dev.php/90-veces-yo
Icon=text-html
